.title {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 100px auto 0;
  align-items: center;
}
.title h1 {
  color: #065674;
  font-size: 1.5rem;
}
.link {
  width: fit-content;
  color: #e1e3e3;
  border-radius: 7px;
  background-color: #1f7a8c;
  border: none;
  text-decoration: none;
  padding: 10px;
}
